<html>
<head>


<script src="jquery.js" type="text/javascript"></script>
</head>
<body>
<link rel="stylesheet" type="text/css" href="basic-quickflips.css" media="screen" />
</script>
<script src="jquery.quickflip.source.js" type="text/javascript"></script>


<div class="quickflip-wrapper">
	<div >
    		<a href="#" class="quickFlipCta">1st panel</a>
	</div>
	<div>
        	<a href="#" class="quickFlipCta">2nd panel</a>
        </div>

        <div>
        	<a href="#" class="quickFlipCta">3rd panel</a>
	</div>
	<div>
   		 <a href="#" class="quickFlipCta">4th panel</a>
	</div>
</div>
</br>
</br>
</br>
<div class="quickflip-wrapper">
	<div>
    		<a href="#" class="quickFlipCta">1st panel</a>
		<p>My name is prakash</p>
	</div>
	<div>
        	<a href="#" class="quickFlipCta">2nd panel</a>
		<p>My name is saurav</p>
        </div>

        <div>
        	<a href="#" class="quickFlipCta">3rd panel</a>
	</div>
	<div>
   		 <a href="#" class="quickFlipCta">4th panel</a>
	</div>
</div>


<script>
$(function() {
    $('.quickflip-wrapper').quickFlip();
});
</script>
</body>
</html>